#!name=监控汇率变化
#!author=Peng-YM
#!Alter=chxm1023
#!更新地址=https://raw.githubusercontent.com/chxm1023/Task/main/hljk.js
#!配置方法：
#!1. 设置基准货币，默认人民币(CNY)。
#!2. 设置保留几位小数。
#!update =YangZhaocool
#!来源=https://raw.githubusercontent.com/chxm1023/Task/main/hljk.js
#!特别说明= 感谢Peng-YM、chxm1023大佬们的分享，本脚本为自用。

10 0 * * ? https://raw.githubusercontent.com/Linqinxi/Linxi/main/Script/JS/hljk.js, tag=汇率监控, img-url=https://raw.githubusercontent.com/chxm1023/Task/main/icon/hljk.png, enabled=true