#!name=波点音乐vip签到
#!desc=感谢Yuheng的大佬分享，本脚本为自用。
#!author=Yuheng
#!source=https://github.com/Yuheng0101/X/tree/main/Tasks/Bdyy
#!time=2023-12-20 19:26:30

[task_local]
0 1 * * * https://raw.githubusercontent.com/Yuheng0101/X/main/Tasks/Bdyy/bdyy.js, tag=波点音乐自动签到, img-url=https://is1-ssl.mzstatic.com/image/thumb/Purple126/v4/05/b9/57/05b9577c-3773-cd2b-5a99-49c0dc3f331d/AppIcon-0-0-1x_U007emarketing-0-0-0-7-0-0-sRGB-0-0-0-GLES2_U002c0-512MB-85-220-0-0.png/144x144.png, enabled=true