#!name=波点音乐净化
#!desc=去波点音乐大部分的广告，
#!author=林夕、chxm1023
#!Telegram=https://t.me/Linxi01


https:\/\/bd-api\.kuwo\.cn\/api\/(service\/banner\/myPage|service\/home\/index|play\/advert\/info|play\/listening\/entrance\/music|search\/topic\/word\/list|playlist\/collect\/all|voice\/room\/sidebar)\? url script-response-body https://raw.githubusercontent.com/Linqinxi/Linxi/main/Script/JS/bodian.js

hostname = bd-api.kuwo.cn