#!name=波点音乐净化
#!desc=去波点音乐大部分的广告，
#!author=林夕、chxm1023
#!Telegram=https://t.me/Linxi01


^https?:\/\/bd-api\.kuwo\.cn\/api\/(service\/v2\/finds\/index|service\/banner\/myPage|play\/listening\/entrance\/music|play\/advert\/info|search\/topic\/word\/list) url reject-dict

https?:\/\/bd-api\.kuwo\.cn\/api\/service\/home\/index\? url script-response-body https://raw.githubusercontent.com/Linqinxi/Linxi/main/Script/JS/bodiao.js

hostname = bd-api.kuwo.cn