#!name=波点音乐净化
#!desc=去波点音乐大部分的广告，
#!author=林夕、chxm1023
#!Telegram=https://t.me/Linxi01


#邀请好友送VIP
^https:\/\/bd-api\.kuwo\.cn\/api\/play\/advert\/info\? url reject-dict
#对你感兴趣
^https:\/\/bd-api\.kuwo\.cn\/api\/play\/listening\/entrance\/music\? url reject-dict

https?:\/\/bd-api\.kuwo\.cn\/api\/service\/home\/index\? url script-response-body https://raw.githubusercontent.com/Linqinxi/Linxi/main/Script/JS/bodian.js

hostname = bd-api.kuwo.cn