#!name=番薯小说
#!desc=非一次性解锁，先开启规则，在进入软件即可！如果无效按[恢复购买]进行恢复！
#!author=林夕
#!Telegram=https://t.me/Linxi01
#!下载地址1：https://apps.apple.com/cn/app/id1489960199
#!下载地址2：https://apps.apple.com/cn/app/id1407163092


^https?:\/\/(ggs|g20)\.manmeng168\.com url script-response-body https://raw.githubusercontent.com/Linqinxi/Linxi/main/Script/JS/fsxs.js

hostname = ggs.manmeng168.com, g20.manmeng168.com