#!name=iScreen
#!desc=解锁会员
#!author=baby
#!下载地址= https://is.gd/ktU5t2
#!特别说明= 感谢baby的分享，本脚本为自用
#!来源= https://raw.githubusercontent.com/Yu9191/Rewrite/main/iscreen.js


^http[s]?:\/\/cs.kuso.xyz\/configs url script-response-body https://raw.githubusercontent.com/Linqinxi/Linxi/carry/Script/JS/iScreen.js

hostname = cs.kuso.xyz