#!name=口袋写作
#!desc=非一次性解锁，先开启规则，在进入软件即可！如果无效按[恢复购买]进行恢复！
#!author=林夕
#!Telegram=https://t.me/Linxi01
#!下载地址：https://apps.apple.com/cn/app/id6443521349
#!特别说明：感谢MCdasheng的帮助


^https?:\/\/app\.kdwrite\.cn\/kdwrite\/app\/user\/get url script-response-body https://raw.githubusercontent.com/Linqinxi/Linxi/main/Script/JS/kdxz.js

hostname = app.kdwrite.cn