#!name=一木清单
#!desc=非一次性解锁，先开启规则，在进入软件即可！如果无效按[恢复购买]进行恢复！
#!author=林夕
#!Telegram=https://t.me/Linxi01
#!下载地址：https://apps.apple.com/app/id1672171155


^https?:\/\/yimutodo\.com\/api\/v\/mtop url script-response-body https://raw.githubusercontent.com/Linqinxi/Linxi/main/Script/JS/ymqd.js

hostname = yimutodo.com